<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<font size="7">Meu título</font>
<br><br>
Essa é a primeira sessão do meu documento.
<br><br>
Eu vou adicionar outro parágrafo aqui também.
<br><br>
1. Aqui é
<br><br>
2. uma lista para
<br><br>
3. você ler.
<br><br>
<font size="5">Meu sub-título</font>
<br><br>
Essa é a primeira sub sessão do meu documento. Eu adoro quando as pessoas conseguem encontrar meu conteúdo!
<br><br>
<font size="5">Meu segundo sub-título</font>
<br><br>
Essa é a primeira sub sessão do meu documento. Eu acho que essa é
</body>
</html>